.topnav {
  background-color: #444444;
  height: auto;
  text-decoration: none;
}
.flex-container {
  display: flex;
  height: 6vh;
  /* justify-content: space-evenly; */
  justify-content: space-between;
}
.fitem {
  /* background-color: aqua; */
  /* margin: 12px; */
  /* width: 122px; */
  /* height: 122px; */
  text-decoration: none;
}
.item1 .home {
  /* background-color: azure; */
  text-decoration: none;
  color: black;
  justify-content: start;
}

.item2 {
  justify-content: center;
  margin: 4px;
  border: 2px solid orange;
  border-radius: 12px;
  background-color: bisque;
  color: red;
  align-content: space-between;
}
.item3 {
  justify-content: end;
  align-items: flex-end;
}
